.div1{
    background-color: rgb(134,115,161);
    padding: 1em;
    width: auto;
    height: auto;
    border-radius: 5px;
}

body {
    font-family: 'open sans';
    background: var(--fondo);
  }
  
  .centrado{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image:url('https://1.bp.blogspot.com/-G7Ln211s46Q/WQyeCEQ6AmI/AAAAAAAAAJQ/NdsWuHGA3dQLFv0ZK4Y6byF1LMRx9Be0QCLcB/s1600/ma.gif');
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .centrar{
 text-align: center;
    justify-content: center;
    align-items: center;
  }