.div1{
    background-color: rgb(134,115,161);
    padding: 1em;
    width: auto;
    height: auto;
    border-radius: 5px;
}

body {
    font-family: 'open sans';
    background: var(--fondo);
  }
  
  .centrado{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image:url("https://cdn.pixabay.com/photo/2018/02/15/16/22/puzzle-3155663_960_720.png");
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .centrar{
 text-align: center;
    justify-content: center;
    align-items: center;
  }